body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption,
{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
}
h5 {
    font-size: 16px
}

#app {
  width:100%;
  height:100%;
  background: #fff;
  color: #2c3e50;
  font-family: "Microsoft YaHei" ! important;
}
.appWrap {
  width:100%;
  height:100%;
}