.my-head {
  padding: 0 50px 0 25px;
  height: 50px; // 一些不支持背景渐变的浏览器  
  background: #1d459c; // ie10
  background: -ms-linear-gradient(left, #3ec2cf, #1d459c);
  background: -moz-linear-gradient(left, #3ec2cf, #1d459c);
  background: -webkit-linear-gradient( left, #3ec2cf, #1d459c); // ie10之前
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ec2cf', endColorstr='#1d459c', GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ec2cf', endColorstr='#1d459c', GradientType=1);
  .hd-left {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    .logo {
      height: 44px;
      cursor: pointer;
    }
  }
  .hd-right {
    float: right;
    ul {
      background: inherit !important;
      li {
        background: inherit !important;
        div {
          background: inherit !important;
        }
      }
    }
    .el-menu-demo {
      display: inline-block;
      vertical-align: top;
    }
    .el-menu--horizontal>.el-submenu .el-submenu__title {
      height: 50px !important;
      line-height: 50px;
    }
    .el-menu--horizontal .el-submenu>.el-menu {
      top: 50px;
    }
    .item {
      display: inline-block;
      margin-top: 14px;
      margin-right: 40px;
      .el-button {
        font-size: 22px;
        padding: 0;
      }
      .el-badge__content {
        background-color: #F09B10;
        border: none;
      }
      .el-button--text {
        color: #fff;
      }
    }
  }
}

.aside-wrap {
  flex-basis: 200px;
  width: 200px;
  position: relative;
  height: 100%;
  border-right:1px solid #e8e8e8;
  .ant-menu {
     // border:none
  }
}

.my-content {
  webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0px;
  overflow-y: auto;
  padding: 20px
}

.my-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: calc(100% - 50px);
  width: 100%;
  position: absolute;
  overflow: hidden;
  min-width: 1280px;
  min-height: 620px;
}
